{% extends 'layout.html' %}

{% block content %}
    
    <div class="container">
    <h1> {{unidade.nome}}</h1>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">Dados da Unidade</div> 
            <ul class="exibe-cadastro lista list-group">
              
                <li class="list-group-item"><strong>CNPJ:  </strong>{{unidade.cnpj}}</li>
                <li class="list-group-item"><strong>Endereço:  </strong>{{unidade.endereço or 'Dados não informados'}} - {{unidade.cidade or ''}} - {{unidade.estado or ''}}</li>
                <li  class="list-group-item"><strong>CEP:  </strong>{{unidade.cep or 'Dados não informados'}}</li>
                <li class="list-group-item"><strong>Chefe-Geral:  </strong>{{unidade.chefe_geral or 'Dados não informados'}}</li>
                <li class="list-group-item"><strong>Telefone:  </strong>{{unidade.telefone or 'Dados não informados'}}</li>
           
            </ul>
        </div>
    <h2 class="destaque-verde">Total de Cadastros: <strong>{{cadastros|length}}</strong></h2>
    <div class="box-numeros">
        <div>
                Cadastros Novos:
                <strong>
                    {{cadastros | selectattr('modalidade','equalto' ,'Cadastro Novo')|list|length}}
                </strong>
               
        </div>
        <div >
                Regularizações: 
                <strong>
                    {{cadastros | selectattr('modalidade','equalto' ,'Regularização')|list|length}}      
                </strong>
        </div>
        <div >
                Adequações: 
                <strong>
                    {{cadastros | selectattr('modalidade','equalto' ,'Adequação')|list|length}}
                </strong>
                    
        </div>
    </div>

    <br>
      
        
        <table class="table table-hover table-striped table-condensed">
            <tr>
                <th>Cadastro</th>
                <th class=text-center >Titulo</th>
                <th class=text-center>Modalidade</th>
                <th class=text-center>Abrir</th>
            </tr>
            
            {% for cad in cadastros %}
                <tr>
                    
                    <td><strong>{{cad.numero}}</strong></td>
                    <td>{{cad.titulo}}</td>
                    <td>{{cad.modalidade}}</td>
                    <td class=text-center>
                        <a class="btn btn-success btn-xs"  href="{{url_for('main.cadastro_completo',cadastro_numero=cad.numero)}}">Visualizar</a>
                    </td>
                
                    
                </tr> 
            {%endfor%}


        </table>
    </div>

    
{% endblock content %}